body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(193, 199, 199);
    color: #333;
}

.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
    font-size: 30px;
}

.header p {
    margin: 5px 0 0;
    font-size: 20px;
}

.content {
    background-color: rgb(164, 165, 165);
    max-width: 100%;
    height: 1000px;
    padding: 20px;
}
.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.gallery{
    height: 450px;
}
.gallery-grid{
    display: flex;
    gap: 15px;
    justify-content: center;
}
.gallery-grid img{
    width: 250px;
    height: auto;
    border-radius: 10px;
}
.achievements{
    margin-top: 20px;
}